{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Kaio {% endblock %}


{% block body %} 

<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3">
                
                <h2>Malha Linehaul <button type="button" class="btn btn-success float-right"
                data-toggle="modal" data-target="#mymodal">Criar Nova Rota</button> </h2>


                {% with messages = get_flashed_messages() %}

                {% if messages %}

                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>

                    {{message}}

                </div>

                {% endfor %}
                {% endif %}
                {% endwith %}


                <table class="table table-hover table-dark">
                    <tr>
                        <th>Rota</th>
                        <th>Corte</th>
                        <th>Frequência</th>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Ações</th>
                    </tr>

                    {% for row in malha %}
                    <tr>
                        <td>{{row.rota}}</td>
                        <td>{{row.corte}}</td>
                        <td>{{row.freq}}</td>
                        <td>{{row.origem}}</td>
                        <td>{{row.destino}}</td>
                        <td>
                            <a href="/update/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Nova Versão</a>
                            <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Tem certeza?')" >Cancelar</a>
                        </td>
                    </tr>


                    <!-- Modal Edit Employee-->
<div id="modaledit{{row.id}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
  
       <div class="modal-content">
  
  
          <div class="modal-header">
  
  
             <h4 class="modal-title">Nova Versão</h4>
  
  
          </div>
  
  
          <div class="modal-body">
  
  
             <form action="{{url_for('update')}}" method="POST">
  
  
                <div class="form-group">
  
  
                   <label>Rota:</label>
                    <input type="hidden"  name="id" value="{{row.id}}">
  
                   <input type="text" class="form-control" name="rota" value="{{row.rota}}">
  
  
                </div>
  
  
  
                <div class="form-group">
  
  
                   <label>Corte:</label>
  
                   <input type="text" class="form-control" name="corte" value="{{row.corte}}">
  
  
                </div>
  
  
                <div class="form-group">
  
  
                   <label>Frequência:</label>
  
                   <input type="text" class="form-control" name="freq" value="{{row.freq}}">
  
  
                </div>

                <div class="form-group">
  
  
                    <label>Origem:</label>
   
                    <input type="text" class="form-control" name="origem" value="{{row.origem}}">
   
   
                 </div>

                 <div class="form-group">
  
  
                    <label>Destino:</label>
   
                    <input type="text" class="form-control" name="destino" value="{{row.destino}}">
   
   
                 </div>
  
  
                <div class="form-group">
  
  
                   <button class="btn btn-primary" type="submit">Update</button>
  
  
                </div>
  
  
             </form>
  
  
          </div>
  
  
          <div class="modal-footer">
  
  
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  
  
          </div>
  
  
       </div>
  
  
    </div>
  
 </div>

                    {% endfor %}


                </table>

            </div>       

        </div>

    </div>

</div>

                    <!-- Modal Nova Rota-->
<div id="mymodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Nova Rota</h4>

            </div>
            <div class="modal-body">

                <form action="{{url_for('insert')}}" method="POST">


                    <div class="form-group">
                        <label>Rota:</label>
                        <input type="text" class="form-control" name="rota" required="1">

                    </div>

                    <div class="form-group">
                        <label>Corte:</label>
                        <input type="time" class="form-control" name="corte" required="1">

                    </div>

                    <div class="form-group">
                        <label>Frequência:</label>
                        <input type="text" class="form-control" name="freq" required="1">

                    </div>

                    <div class="form-group">
                        <label>Origem:</label>
                        <input type="text" class="form-control" name="origem" required="1">

                    </div>

                    <div class="form-group">
                        <label>Destino:</label>
                        <input type="text" class="form-control" name="destino" required="1">

                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Criar Nova Rota</button>

                    </div>
                
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>

            </div>

        </div>

    </div>

</div>

{% endblock %}